
.container {
  background-color:burlywood

}
h3{
  text-align: center;
  background-color: lightcyan
}
.output{
  border: solid 2px black;
  height: 50%;
  width:95%;
  border-radius: 4px;
}
@media screen and (min-width: 600px) {
  .column{width:450px; float: padding: 10px;}
  .image{width: 500px; height: 400px;{
  }